/Titan Orbit/Library
/Titan Orbit/Logs
/Titan Orbit/Packages
/Titan Orbit/Temp
Titan Orbit/Assets/UltimateSpaceshipsCreator/SRP/HDRP_Upgrade.unitypackage
Titan Orbit/Assets/UltimateSpaceshipsCreator/SRP/HDRP_Upgrade.unitypackage.meta
/Titan Orbit/Assets/_Diagnostics
Titan Orbit/debug-bac766.log
/Titan Orbit/ProfilerCaptures
Titan Orbit/Assets/StreamingAssets/debug-441e0e.log
