/Titan Orbit/Library
/Titan Orbit/Logs
/Titan Orbit/Packages
/Titan Orbit/Temp
Titan Orbit/Assets/UltimateSpaceshipsCreator/SRP/HDRP_Upgrade.unitypackage
Titan Orbit/Assets/UltimateSpaceshipsCreator/SRP/HDRP_Upgrade.unitypackage.meta
